{% extends 'Layout.html' %} {% load static %} {% block content %}
<link href="{% static '/css/Home.css'%}" rel="stylesheet" />
<link href="{% static '/css/User.css'%}" rel="stylesheet" />
<script>
  ID = {{id}}
</script>
<div id="app">
  <div v-if="pageIsExist">
    <div class="between Data">
      <img :src="AvatarSrc" class="avaMain" v-on:click="avaChange" />
      <div class="wrap" id="info">
        <div class="name">[[Login]]</div>
        <input class="date" type="date" v-model="Date" name="Date" />
        <input class="status" v-model="Status" name="Status" />
        <textarea class="joke" v-model="FavoriteJoke" name="FavoriteJoke">
любимый анекдот</textarea
        >
        <div v-if="edit">
          <div class="left url">
            <img src="{% static '/img/VK.png'%}" />
            <input v-model="VkLink" name="VkLink" />
          </div>
          <div class="left url">
            <img src="{% static '/img/insta.png'%}" />
            <input v-model="InstaLink" name="InstaLink" />
          </div>
          <div class="left url">
            <img src="{% static '/img/OK.png'%}" />
            <input v-model="OK" name="OK" />
          </div>
        </div>
        <div v-else>
          <a :href="VkLink" class="left url">
            <img src="{% static '/img/VK.png'%}" />
            <input v-model="VkLink" name="VkLink" />
          </a>
          <a :href="InstaLink" class="left url">
            <img src="{% static '/img/insta.png'%}" />
            <input v-model="InstaLink" name="InstaLink" />
          </a>
          <a :href="OK" class="left url">
            <img src="{% static '/img/OK.png'%}" />
            <input v-model="OK" name="OK" />
          </a>
        </div>
      </div>
    </div>
    <div class="wrap inpWrap">
      <textarea
        class="inputPost"
        placeholder="Введите текст"
        v-model="text"
      ></textarea>
      <div class="between">
        <div></div>
        <div class="between">
          <img
            src="{% static '/img/camera.png'%}"
            class="camera"
            v-on:click="getImg"
          />
          <button class="postSend" v-on:click="sendPost">отправить</button>
        </div>
      </div>
    </div>
    <div class="block between" v-for="post in Posts">
      <div>
        <a href="{% static '/User'%}">
          <img :src="AvatarSrc" class="ava" />
        </a>
      </div>
      <div class="inner">
        <div class="name">[[Login]]</div>
        <div class="date">[[post.date.replaceAll("-",".")]]</div>
        <div class="anekdot">[[post.text]]</div>
        <div class="between">
          <div class="like" v-on:click="changeLike(post.id)" :id="post.id">
            [[post.likesCount]]<img
              src="{% static '/img/Like 1.png'%}"
              class="like1"
            />
          </div>
          <div
            class="dislike"
            v-on:click="changeDisLike(post.id)"
            :id="post.id"
          >
            [[post.dislikesCount]]<img
              src="{% static '/img/Like 2.png'%}"
              class="dislike1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div v-else>
    <div class="wrap">Страница не существует или удалена</div>
  </div>
</div>

<script src="{% static '/js/User.js'%}"></script>

{% endblock content %}
