.authForm {
  width: 21.5vw;
  /*height: 29.3vw;*/
  margin-left: 39.2vw;
  margin-top: 10.7vw;
  background: #FFFFFF;
  -webkit-box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.25);
          box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.25);
  border-radius: 1vw;
  padding: 1.87vw;
  line-height: 1vw;
}

.authForm input {
  width: 17.78vw;
  height: 3.47vw;
  border-radius: 1.735vw;
  margin-top: 1.46vw;
  border: 0.1vw solid #797979;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2vw;
  font-size: 1vw;
  color: rgba(55, 63, 65, 0.61);
  padding: 0vw 1vw;
}

input[type=button], input[type=submit] {
  background: #79D4FC;
  -webkit-box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.25);
          box-shadow: 0.1vw 0.2vw 0.4vw rgba(0, 0, 0, 0.25);
}

.authForm img {
  width: 12.3vw;
  margin-bottom: 0.5vw;
}