@font-face {
    font-family: "Obelix Pro";
    src: url("8477.ttf") format('ttf');
}
@font-face {
    font-family: "Fixedsys";
    src: url("Fixedsys.ttf") format('ttf');
}

.intro {
    padding-top: 130px;
    font-family: Montserrat;
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #373F41;
    text-align: center;
    align-items: center;
    padding-top: 4.1vw;
    text-shadow: 0px 0.278vw 0.278vw rgba(0, 0, 0, 0.25);
}

.block {
    width: 1080px;
    background: white;
    min-height: 177px;
    border-radius: 15px;
    padding: 0px 19px;
    padding-top: 19px;
    margin-top: 30px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.ava {
    width: 46px;
    height: 46px;
    border-radius:50%;
}

.inner {
    width: 996px;
    margin-left: 16px;
}

.name {
    width: 143px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(55, 63, 65, 0.61);
}

.date {
    width: 143px;
    height: 24px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: rgba(55, 63, 65, 0.61);
}

.anekdot {
    width: 918px;
    min-height: 66px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
}

.like1 {
    margin-top: 0px;
    margin-left: 829px;
    float: left;
}

.dislike1 {
    margin-top: 0px;
    margin-left: 61px;
    float: left;
}