@font-face {
  font-family: "Obelix Pro";
  src: url("8477.ttf") format("ttf");
}
@font-face {
  font-family: "Fixedsys";
  src: url("Fixedsys.ttf") format("ttf");
}
.intro {
  padding-top: 9.0277777778vw;
  font-family: Montserrat;
  font-style: italic;
  font-weight: lighter;
  font-size: 1.6666666667vw;
  line-height: 1.25vw;
  letter-spacing: 0.0138888889vw;
  color: #373F41;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 4.1vw;
  text-shadow: 0vw 0.278vw 0.278vw rgba(0, 0, 0, 0.25);
}

.block {
  /*padding: vw(0) vw(19);*/
  /*padding-top: vw(19);*/
  /*margin-top: vw(30);*/
  width: 75vw;
  background: white;
  min-height: 12.2916666667vw;
  border-radius: 1.0416666667vw;
  padding: 0vw 0.99vw;
  padding-top: 0.99vw;
  margin-top: 1.563vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0.1388888889vw 0.1388888889vw 0.2777777778vw rgba(0, 0, 0, 0.25);
          box-shadow: 0.1388888889vw 0.1388888889vw 0.2777777778vw rgba(0, 0, 0, 0.25);
}

.ava {
  width: 3.1944444444vw;
  height: 3.1944444444vw;
  border-radius: 50%;
}

.inner {
  margin-left: 1.1111111111vw;
  margin-right: 1.1111111111vw;
}

.name {
  width: 9.9305555556vw;
  height: 2.3611111111vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9722222222vw;
  line-height: 1.25vw;
  color: rgba(55, 63, 65, 0.61);
}

.date {
  width: 9.9305555556vw;
  height: 1.6666666667vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 0.9722222222vw;
  line-height: 1.25vw;
  color: rgba(55, 63, 65, 0.61);
}

.anekdot {
  width: 63.75vw;
  min-height: 4.5833333333vw;
  font-size: 0.9722222222vw;
  line-height: 1.25vw;
  margin-top: 0.6944444444vw;
}

.like, .dislike {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dislike {
  margin-left: 2.7777777778vw;
}

.filter {
  margin-top: 1.3888888889vw;
}