.published {
  margin-bottom: 0.6944444444vw;
  margin-left: 68.0555555556vw;
  float: left;
}

.anekdot1 {
  width: 63.75vw;
  min-height: 9.2361111111vw;
  font-size: 0.9722222222vw;
  line-height: 1.25vw;
  margin-top: 0.6944444444vw;
  margin-left: 1.1111111111vw;
}