.published {
    margin-bottom: 10px;
    margin-left: 980px;
    float: left;
}
.anekdot1 {
    width: 918px;
    min-height: 133px;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    margin-left: 16px;
}