#info {
    width: 868px;
    padding:0px 58px;
    padding-top:44px;
}
.avaMain {
    width: 177px;
    height: 177px;
}
.name {
    font-size: 24px;
    line-height: 18px;
}
.date {
    font-size: 14px;
    line-height: 18px;
}
.joke{
    width: 752px;
    height: 120px;
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 15px;
}
.avaMain{
    border-radius:50%;
}
.url img {
    width: 54px;
}
.url div {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: rgba(55, 63, 65, 0.61);
    padding-top:20px;
}
main{
    margin-top:68px;
}
input {
    border: none;
    background: none;
    display: block;
    font-family: 'Montserrat', sans-serif
}
input:hover{
    border:none
}
textarea::hover{
    border:none;
}
textarea {
    display: block;
    text-decoration: none;
    background: none;
    border: none;
    resize: none;
    font-family: 'Montserrat', sans-serif
}
.inputPost {
    width: 1057px;
    min-height: 157px;
    border: 1px solid #797979;
    box-sizing: border-box;
    border-radius: 15px;
    padding:6px;
}
.camera {
    width: 25px;
    height: 25px;
}
.postSend {
    width: 92px;
    height: 25px;
    background: #959595;
    border-radius: 15px;
    border:none;
    margin-left:15px;
}
.inpWrap {
    padding: 10px;
    margin-top: 45px;
}

