{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="{% static '/lib/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static '/js/site.js'%}" asp-append-version="true"></script>
    <script src="{% static '/js/vue.min.js'%}"></script>
    <title> Ahaha & hehehe</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,300&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/site.css" />
</head>

<body>
    <header class="header">
        <div class="header_inner">
            <a href="/Home" title="Главная страница"><img class="logo" src="/static/FinalLogo.png" /></a>
            <nav class="nav">
                <a class="nav_link" href="/Generator" title="Генератор мемов">Генератор мемов</a>
                <a class="nav_link" href="/Generator/Word" title="Субверсия языкового шаблона">Генератор смешных слов</a>
                <a class="nav_link" href="/Generator/Jokes" title="Генерация анекдотов на основе GPT-2 OpenAI">Генератор анекдотов</a>
                <a class="nav_link" href="/Generator/YT" title="Генератор мемов">Генератор видео</a>
            </nav>
            <div class="nav_user">
                <a class="nav_link" href="/User" id="userLink" title="Настройки профиля">
                    <span id="userName"></span>
                    <img id="userImg" style=" width: 2vw;height:2vw;border-radius: 50%" src="">
                </a>

            </div>
        </div>
    </header>
    <div>
        <div class="overflow"></div>
    </div>
    <div class="container">
        <main role="main">
            {% block content %}{% endblock content %}
        </main>
    </div>

    <script src="{% static '/lib/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static '/js/site.js'%}" asp-append-version="true"></script>
</body>

</html>