{% extends 'Layout.html' %}
{% block content}
<link rel="stylesheet" href="/static/css/Home.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
<div style="height: 50px"></div>
<div id="app">
	<div class="between">
		<canvas src="canvas" id="mem"></canvas>
	    <div>
	    	<select v-model="type" v-on:change="typeChange">
	    		<option v-for="type in types" :value="type" >{{type}}</option>
	    	</select>
	    	<h3>Тексты</h3>
	    	<div v-for="text,i in texts">
	    		<h4>Текст {{i+1}}</h4>
	    		<div class="textPar">
	    			текст:<textarea v-model="text.text" v-on:input="input" placeholder="введите текст"></textarea>
	    			размер:<input v-model="text.size" type="number" v-on:input="input">
	    			цвет:<input v-model="text.fillStyle" type="color" v-on:input="input">
	    			шрифт:<select v-model="text.font" v-on:change="input">
			    		<option v-for="font in fonts" :value="font" >{{font}}</option>
			    	</select>
	    		</div>
	    		<button v-on:click="textGenerated(i)">генерировать текст</button>
	    		<button onclick="generator.addText().then()">добавить текст</button>
	    		<button v-on:click="typeChange">перегенерировать мем</button>
	    	</div>
	    	<h3>Картинки</h3>
	    	<div v-for="text,i in imgs">
	    		<h4>Картинка {{i+1}}</h4>
	    		<button v-on:click="imgGenerated(i)">сгенерировать картинку</button>
	    		<button v-on:click="pictureLoad(i)">загрузить картинку</button>
	    	</div>
	    	<button onclick="generator.downImg()">Скачать мем</button>
	    </div>
	</div> 
	<div class="center">
		<div id="button" button onClick="generator.sendMem()">
	        <p id="gen" >Поделиться</p>
	    </div>
	</div>
	<div style="height: 100px"></div>

    <div class="block" v-for="post in Posts">
        <div class="inner" >
            <div class="date">[[post.date]]</div>
            <div class="anekdot"><img :src="post.
            	imgSrc" alt=""></div>
            <div class="between">
                <div class="like" v-on:click="changeLike(post.id)" :id="post.id">[[post.likesCount]]<img src="/img/Like 1.png" class="like1"></div>
                <div class="dislike" v-on:click="changeDisLike(post.id)" :id="post.id">[[post.dislikesCount]]<img src="/img/Like 2.png" class="dislike1"></div>
            </div>
        </div>
    </div> 
</div>
<style>
	.textPar{
		display: grid;
		grid-template-columns: 1fr 1fr;

	}
</style>

<script src="/static/js/Mem.js"></script>   
{% endblock content %}